@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: 'Poppins', sans-serif;;
}

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --maincolor:rgb(83, 83, 250);
    --secondary-color:rgb(236, 236, 250);

}

.wrapper{
    background-color:var(--secondary-color) ;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.navbar{
    max-width: 90rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(187, 187, 253) ;
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    font-size: xx-large;
    font-weight: 800;
    margin-right: 10px;
}


.right{
    display: flex;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin-left:20px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    
}
.signup{
    background-color: transparent;
    color: var(--maincolor);
    cursor: pointer;
    margin-left: 20px;
    border-radius: 5px;
    border: 2px solid var(--maincolor);
}
.login{
    background-color: var(--maincolor);
    color: white;
    columns: var(--secondary-color);
    cursor: pointer;
    margin-left: 20px;
    border-radius: 5px;
}



